
SpaceFlightNews/.vs/SpaceFlightNews/DesignTimeBuild/.dtbcache.v2
SpaceFlightNews/.vs/SpaceFlightNews/DesignTimeBuild/.dtbcache.v2
SpaceFlightNews/.vs/SpaceFlightNews/v17/.suo
SpaceFlightNews/.vs/SpaceFlightNews/v17/TestStore/0/testlog.manifest
SpaceFlightNews/bin/Debug/netcoreapp3.1/appsettings.Development.json
SpaceFlightNews/bin/Debug/netcoreapp3.1/SpaceFlightNews.pdb
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.GeneratedMSBuildEditorConfig.editorconfig
SpaceFlightNews/obj/SpaceFlightNews.csproj.nuget.g.targets
SpaceFlightNews/obj/SpaceFlightNews.csproj.nuget.g.targets
SpaceFlightNews/obj/project.assets.json
SpaceFlightNews/.vs/SpaceFlightNews/project-colors.json
SpaceFlightNews/.vs/SpaceFlightNews/v17/.futdcache.v1
SpaceFlightNews/.vs/SpaceFlightNews/v17/TestStore/0/000.testlog
SpaceFlightNews/bin/Debug/netcoreapp3.1/appsettings.json
SpaceFlightNews/bin/Debug/netcoreapp3.1/SpaceFlightNews.deps.json
SpaceFlightNews/bin/Debug/netcoreapp3.1/SpaceFlightNews.exe
SpaceFlightNews/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.AssemblyInfo.cs
SpaceFlightNews/obj/Debug/netcoreapp3.1/apphost.exe
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.csproj.BuildWithSkipAnalyzers
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.csproj.CopyComplete
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.csproj.FileListAbsolute.txt
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.pdb
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.MvcApplicationPartsAssemblyInfo.cs
SpaceFlightNews/obj/SpaceFlightNews.csproj.nuget.g.props
SpaceFlightNews/obj/SpaceFlightNews.csproj.EntityFrameworkCore.targets
SpaceFlightNews/obj/Container/AbsoluteOutputAssemblyPath.cache
SpaceFlightNews/obj/Container/AdditionalProbingPaths.cache
SpaceFlightNews/obj/Container/ContainerCreationResult.cache
SpaceFlightNews/obj/Container/ContainerDevelopmentMode.cache
SpaceFlightNews/obj/Container/ContainerId.cache
SpaceFlightNews/obj/Container/ContainerName.cache
SpaceFlightNews/obj/Container/ContainerOperatingSystemFlavor.cache
SpaceFlightNews/obj/Container/ContainerRunContext.cache
SpaceFlightNews/obj/Container/DebuggeeArguments.cache
SpaceFlightNews/obj/Container/DebuggeeKillProcessCommand.cache
SpaceFlightNews/obj/Container/DebuggeeProgram.cache
SpaceFlightNews/obj/Container/DebuggeeWorkingDirectory.cache
SpaceFlightNews/obj/Container/FastModeProjectMountDirectory.cache
SpaceFlightNews/obj/Container/ImageBuildContext.cache
SpaceFlightNews/obj/Container/ImageId.cache
SpaceFlightNews/obj/Container/OperatingSystemName.cache
SpaceFlightNews/obj/Container/TargetFramework.cache
SpaceFlightNews/obj/Container/VolumeMappings.cache
SpaceFlightNews/obj/Container/VsDbgScript.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.AssemblyInfoInputs.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.assets.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.csproj.AssemblyReference.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.csproj.CoreCompileInputs.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.genruntimeconfig.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.MvcApplicationPartsAssemblyInfo.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.RazorTargetAssemblyInfo.cache
SpaceFlightNews/obj/Debug/netcoreapp3.1/staticwebassets/SpaceFlightNews.StaticWebAssets.Manifest.cache
SpaceFlightNews/obj/project.nuget.cache
SpaceFlightNews/.vs/SpaceFlightNews/config/applicationhost.config
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Npgsql.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Quartz.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/SpaceFlightNews.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/SpaceFlightNews.runtimeconfig.dev.json
SpaceFlightNews/bin/Debug/netcoreapp3.1/SpaceFlightNews.runtimeconfig.json
SpaceFlightNews/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
SpaceFlightNews/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
SpaceFlightNews/obj/Debug/netcoreapp3.1/SpaceFlightNews.dll
SpaceFlightNews/obj/SpaceFlightNews.csproj.nuget.dgspec.json
